@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&family=Poppins:wght@200;300;400&display=swap');

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100wh;
}

header {
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0px 3px 1px 3px rgba(151, 151, 151, 0.144);
}

img {
  padding-left: 15px;
}

h1 {
  margin-left: 25px;
  font-weight: 800;
  font-size: 2.5em;
  text-decoration: underline #0cc0df;
  cursor: default;
}