@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&family=Poppins:wght@200;300;400&display=swap');

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0px 3px 1px 3px rgba(151, 151, 151, 0.144);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

main {
  margin-top: 18%;
}

img {
  padding-left: 15px;
}

h1 {
  margin-left: 25px;
  font-weight: 800;
  font-size: 2.5em;
  text-decoration: underline #0cc0df;
  color: rgb(170, 170, 170);
  cursor: default;
}

/* MAIN */

h2 {
  display: flex;
  justify-content: center;
  padding: 25px 0 0 0;
  font-size: 25px;
}

.label {
  display: none;
}

label {
  padding: 5px;
}

.tachesInput {
  display: flex;
  margin: -15px auto;
  width: 350px;
  height: 40px;
  padding-left: 15px;
  border-radius: 100px;
  border: 1px solid gray;
  color: #0cc0df;
}

button {
  display: flex;
  margin: 50px auto;
  width: 100px;
  padding-left: 27px;
  border-radius: 20px;
  border: 1px solid #0cc0df;
  color: #0cc0df;
  background-color: white;
  cursor: pointer;
  transition: 0.5s;
}
button:hover {
  color: white;
  background-color: #0cc0df;
  transition: 0.3s;
}

h3 {
  padding: 20px;
  margin-left: 20px;
}

li {
  margin-left: 30px;
}


/* Responssive */

@media(max-width: 693px) {
  main {
    margin-top: 30%;
  }
}